doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css' media='screen,projection')
    link(rel='stylesheet', href='/stylesheets/materialize.css' media='screen,projection')

  body
    nav.light-blue.lighten-1(role='navigation')
      div.nav-wrapper.container
        a.brand-logo(id='logo-container' href='#') #{title}
        //ul.right.hide-on-med-and-down
        //  li
        //    a(href='#') Navbar Link
    div.error
    block content
    block script
      script(type='text/javascript', src='/js/jquery-2.1.1.min.js')
      script(type='text/javascript', src='/js/materialize.js')
      script(type='text/javascript', src='js/init.js')



